        html {
            font-size: 16px;
            scroll-behavior: smooth;
        }
        /* Redimensión de fuente utilizando rem */
        
        p {
            font-size: 1rem;
        }
        
        h1 {
            font-size: 3rem;
        }
        
        h2 {
            font-size: 2.5rem;
            color: #46718a;
        }
        
        h3 {
            font-size: 3.5rem;
            color: #46718a;
        }
        
        h4 {
            font-size: 1.3rem;
        }
        
        h5 {
            font-size: 1.15rem;
        }
        
        h6 {
            font-size: 1.05rem;
            color: #46718a;
        }
        /**************************/
        /* clases predefinidas */
        
        * {
            box-sizing: border-box;
            color: whitesmoke;
        }
        
        body {
            margin: 0;
        }
        /* Clear floats after the columns */
        
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Diseño de columnas */
        
        .column-1 {
            width: 100%;
            float: left;
        }
        
        .column-2 {
            width: 50%;
            float: left;
        }
        
        .column-3 {
            width: 33.33%;
            float: left;
        }
        
        .column-4 {
            width: 25%;
            float: left;
        }
        
        .column-5 {
            width: 20%;
            float: left;
        }
        
        .column-6 {
            width: 16.66%;
            float: left;
        }
        
        .column-75 {
            width: 75%;
            float: left;
        }
        /* Otras clases */
        
        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
        }
        
        .fondo_2 {
            min-height: 100vh;
            background-image: linear-gradient(rgba(5, 7, 12, 0.45), rgba(5, 7, 12, 0.45)), url(../img/photo-1489914099268-1dad649f76bf.avif);
            background-size: cover;
            background-position-x: center;
            display: flex;
            padding-bottom: 5%;
            padding-top: 15%;
        }
        
        .header1 {
            text-align: center;
            color: white;
        }
        
        .bottoncarmona {
            text-decoration: none;
            padding: 10px;
            font-weight: 600;
            font-size: 20px;
            color: #ffffff;
            background-color: #46718a;
            border-radius: 6px;
            border: 2px solid black;
        }
        
        .bottoncarmona:hover {
            color: #fbfeff;
            background-color: black;
        }
        
        #footer {
            text-align: center;
            background-color: black;
            color: green;
            padding: 10px;
        }
        
        .iconodes {
            width: 120px;
            height: 120px;
        }
        
        .iconodes:hover {
            transform: scale(1.2);
            transition-duration: 0.5s;
        }
        
        p {
            font-size: 1.4rem;
        }
        /* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */
        
        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .fondo-1 {
            background-color: rgba(5, 7, 12, 0.65);
        }
        
        @media only screen and (max-width: 600px) {
            /* column-2 pasará de tener 50% a 100% */
            .column-2 {
                width: 100%;
            }
            /* column-3 pasará de tener 33.33% a 100% */
            .column-3 {
                width: 100%;
            }
            /* column-4 pasará de tener 25% a 50% */
            .column-4 {
                width: 50%;
            }
        }